﻿@{
    ViewData["Title"] = "主页";
}

<div class="jumbotron">
    <h3>欢迎使用WarpPrism内容管理系统</h3>
    <p>本系统目前支持对关系型数据库的运行时操作</p>
    <div class="btn-group" role="group">
        <a class="btn btn-success btn-lg" asp-controller="Databases" asp-action="Index" role="button">
            <i class="fa fa-pencil"></i>
            查看已建立连接的数据库列表
        </a>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>使用说明</h2>
        <p>
            本系统已经支持了对关系型数据库的运行时操作。你可以直接新建或删除数据库，也可以在现有数据库中新建表、调整表的定义、调整表的数据。
        </p>
        <p>
            本系统还需要一些功能性改进。这包括：对表内的数据进行动态查询、外键管理、从Excel文件导入数据库等。同时也应当支持更多的数据类型。
        </p>
    </div>
    <div class="col-md-4">
        <h2>源代码</h2>
        <p>
            本系统全部关系型数据库的操作均基于SQL Server 2016。系统由ASP.NET Core 2.0构建。目前在GitHub开源：<a href="https://github.com/AiursoftWeb/WarpPrism" target="_blank">查看源码</a>
        </p>
        <p>
            平台最初的开发初衷是给RichErp演示如何不依赖Roslyn编译器，也不动态生成任何SQL就实现用户自定义表。平台支持在移动设备上访问。
        </p>
    </div>
    <div class="col-md-4">
        <h2>开发工作</h2>
        <p>
            本系统还应支持更多的数据类型和严格的数据类型检查。本系统的数据库部分还会增加权限设置等功能。
        </p>
        <p>
            运营详情请参考<a href="https://docs.microsoft.com/en-us/aspnet/core/getting-started">官方文档</a>。
        </p>
    </div>
</div>
