@model Aiursoft.WarpPrism.Models.Property

@{
    ViewData["Title"] = "Details";
}

<h2>列的属性</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            属性名
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PropertyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            类型
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PropertyId">重命名</a>
    <a asp-action="Index" asp-route-id="@Model.TableId">返回表定义</a>
</div>
