@model Aiursoft.WarpPrism.Models.Table

@{
    ViewData["Title"] = "Details";
}

<h2>表属性</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            表名
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TableName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TableId">重命名</a>
    <a asp-action="Index" asp-route-id="@Model.Context.DataBaseId">返回该数据库的所有表</a>
</div>
