@model Aiursoft.WarpPrism.Models.Item

@{
    ViewData["Title"] = "Delete";
}

<h2>删除一条数据</h2>

<h3>你确定要删除一条数据吗?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Context)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Context.TableId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ItemId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
