@model Aiursoft.WarpPrism.Models.DataBase

@{
    ViewData["Title"] = "Delete";
}

<h2>删除数据库</h2>

<h3>警告：一旦删除 @Html.DisplayFor(model => model.DataBaseName) 将会丢失其所有数据！</h3>
<div>
    
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DataBaseId" />
        <input type="submit" value="确认删除" class="btn btn-default" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>
