@model Aiursoft.WarpPrism.Models.DataBase

@{
    ViewData["Title"] = "Details";
}

<h2>数据库属性</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            数据库名
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataBaseName)
        </dd>
        <dt>
            创建时间
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DataBaseId">重命名</a> |
    <a asp-action="Index">返回</a>
</div>
