@model Aiursoft.WarpPrism.Models.DataBase

@{
    ViewData["Title"] = "Edit";
}

<h2>重命名数据库</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DataBaseId" />
            <div class="form-group">
                <label class="control-label">新数据库名称</label>
                <input asp-for="DataBaseName" class="form-control" />
                <span asp-validation-for="DataBaseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
